/* Bloom — Week Project Settimana V
   Reset minimale + tipografia di base. Da qui costruisci il layout. */


/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #1a1a1a;
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Aggiungi qui le tue regole, mobile-first. */


/* Header */
#site-header {
  display: block;
  text-align: center;
  padding: 1rem;
  background-color: white;
  height: 100px;
  width: 100%;
}

/* Logo (foglia) + nome azienda */
.bloom-logo {
  color: #1F7A4D;
}

/* Logo foglia*/
.bloom-logo i {
  font-size: 1.2rem;
}

/* Nome azienda (header) */
.bloom-logo span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Nav lista generale*/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

/* Nav singoli elementi */
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px;
  margin: 0;
  border-radius: 3px;
  font-size: 0.9rem;
}

nav ul li:hover {
  background-color: #EBF9F1;
  color: #1F7A4D
}

/* Hero section*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #1F7A4D;
  color: white;
  height: 400px;
  width: 100%;
}

/* Button hero section*/

.cta-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #1F7A4D;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.cta-button:hover {
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.5);
}

/* Cards servizi */

.services {
  margin-bottom: 2rem;
}

.services h2 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
  color: #1F7A4D;
  font-size: 1.3rem;
  font-weight: 700;
}

.service-card {
  background-color: white;
  border-radius: 8px;
  padding-top: 1rem;
  padding: 1.3rem;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.service-card:hover {
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* Icone delle card */
.service-card i {
  font-size: 2rem;
  color: #1F7A4D;
  margin-bottom: 1rem;
}

/* Titoli delle card h3*/
.service-card h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Testo delle card p*/
.service-card p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

/* Footer*/

#site-footer {
  background-color: #1A1A1A;
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* Logo completo e scritta sotto generale*/

.bloom-footer-logo {
  margin-top: 1rem;
}

/* Logo e nome azienda footer */

.bloom-footer-logo i,
.bloom-footer-logo span {
  color: #5CD699;
  font-size: 1.2rem;
  font-weight: bold;
}

/* p legato al logo footer */

.bloom-footer-logo p {
  font-size: 0.8rem;
}

/* Social icons footer */

.social-icons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.social-icons a {
  background-color: #434242;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.social-icons a i {
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a:hover {
  background-color: #1F7A4D;
  transform: translateY(-3px);
}

/* Copyright */

.copyright {
  color: rgb(149, 149, 149);
  font-size: 0.8rem;
  margin-top: 1.5rem;
}


/* Cambiamenti CSS quando il min-width è 768*/

@media screen and (min-width: 768px) {
  #site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .hero {
    height: 570px;
  }

  .hero h1 {
    font-size: 2.8rem;
    margin-bottom: 8px;
  }

  .hero p {
    margin-top: 2px;
    font-size: 18px;
    max-width: 562px;
    margin-left: auto;
    margin-right: auto;
  }

  .services h2 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-size: 1.8rem;
}

  .cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;       
  gap: 15px;           
}

.service-card {
  flex: 1 1 calc(50% - 15px); 
}

}

/* Header sulla linea e logo tutto a sinistra e nav tutta a destra*/



/* Card diventano 2 su una fila uguali e uno sotto grande quanto loro*/

/* Footer si mette tutto su una linea con distanza uguale fra i tre elementi */






/* Cambiamenti CSS quando il min-width è 992*/